*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Bai Jamjuree", sans-serif;
  text-align: center;
  line-height: 1.2;
  background-image: url("/images/bg-header-mobile.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  position: absolute;
  top: 0;
  left: 0;
}

.main {
  padding: 3rem;
}

.heading-primary {
  min-height: 20rem;
}

.heading-primary--main {
  display: block;
  padding-top: 2rem;
  font-size: 3rem;
  font-weight: 700;
  color: #4c545d;
}

.heading-primary--sub {
  display: block;
  padding: 2rem 0;
  font-size: 1.4rem;
  line-height: 1.6;
  font-weight: 400;
  color: #9fabb2;
}

.heading-secondary {
  font-size: 2.5rem;
}

.heading-tertiary {
  font-size: 2rem;
  font-weight: 400;
}

.u-margin-top {
  margin-top: 10rem;
}

.u-margin-top-sm {
  margin-top: 2rem;
}

.u-margin-top-med {
  margin-top: 3rem;
}

.u-margin-bottom-sm {
  margin-bottom: 1.5rem;
}

.u-margin-bottom-large {
  margin-bottom: 12rem;
}

.u-padding-gutter {
  padding: 0 1rem;
}

.btn {
  width: 100%;
}

.btn:link, .btn:visited {
  display: inline-block;
  font-size: 1.5rem;
  padding: 1.2rem;
  margin-top: 2.5rem;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  border-radius: 3rem;
}

.btn--ios {
  background-color: #26baa4;
  -webkit-box-shadow: 0 0.5rem 0.2rem #1d907f;
          box-shadow: 0 0.5rem 0.2rem #1d907f;
}

.btn--ios:active {
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
  -webkit-box-shadow: 0 0;
          box-shadow: 0 0;
}

.btn--mac {
  background-color: #6173ff;
  -webkit-box-shadow: 0 0.5rem 0.2rem #2e46ff;
          box-shadow: 0 0.5rem 0.2rem #2e46ff;
}

.btn--mac:active {
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
  -webkit-box-shadow: 0 0;
          box-shadow: 0 0;
}

.header {
  padding: 3rem;
  margin-bottom: 12rem;
}

.header__btn-box {
  padding: 0 3rem;
}

.section-snippets {
  margin-bottom: 12rem;
}

.section-snippets__image {
  width: 100%;
  padding: 2rem 0;
}

.section-tech {
  margin-bottom: 12rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60rem;
}

.footer {
  background-color: rgba(159, 171, 178, 0.2);
  padding: 1rem 0 3rem;
  margin: 9rem 0 0;
}

.footer__logo {
  height: 5rem;
}

.footer__list {
  list-style-type: none;
  margin: 4rem 0;
}

.footer__link {
  color: #4c545d;
  font-size: 1.5rem;
  font-weight: 400;
  text-decoration: none;
  line-height: 3;
}

.footer__social-links:not(:last-child) {
  margin-right: 2rem;
}
/*# sourceMappingURL=main.css.map */