.footer {
  background-color: rgba($grayish-blue, 0.2);
  padding: 1rem 0 3rem;
  margin: 9rem 0 0;

  &__logo {
    height: 5rem;
  }

  &__list {
    list-style-type: none;
    margin: 4rem 0;
  }

  &__link {
    @include nav-style;
  }

  &__social-links {
    &:not(:last-child) {
      margin-right: 2rem;
    }
  }
}
