.footer {
  &__logo {
    height: 5rem;
  }

  &__list {
    list-style-type: none;
    margin: 4rem 0;
  }

  &__link {
    @include nav-style;
  }

  &__social-links {
    &:not(:last-child) {
      margin-right: 2rem;
    }
  }
}
