.btn {
  width: 100%;

  @media only screen and (min-width: $bp-small) {
   width: 30%;
  }

  &:link,
  &:visited {
    display: inline-block;
    font-size: 1.5rem;
    padding: 1.2rem;
    margin-top: 2.5rem;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    border-radius: 3rem;
  }

  &--ios {
    background-color: $strong-cyan;
    box-shadow: 0 0.5rem 0.2rem darken($strong-cyan, 10%);

    &:active {
      transform: translateY(3px);
      box-shadow: 0 0;
    }

    @media only screen and (min-width: $bp-small) {
      margin-right: 2rem;
    }
  }

  &--mac {
    background-color: $light-blue;
    box-shadow: 0 0.5rem 0.2rem darken($light-blue, 10%);

    &:active {
      transform: translateY(3px);
      box-shadow: 0 0;
    }
  }
}
