.u-margin-top {
    margin-top: 10rem;
}

.u-margin-top-sm {
    margin-top: 2rem;
}

.u-margin-top-med{
    margin-top: 3rem;
}

.u-margin-bottom-sm{
    margin-bottom: 1.5rem;
}

.u-margin-bottom-large {
    margin-bottom: 12rem; //section margin
}

.u-padding-gutter{
    padding: 0 1rem;
}